<mat-sidenav-container class="h-full" [hasBackdrop]="isCompact()">
  <mat-sidenav
    #drawer
    [mode]="isCompact() ? 'over' : 'side'"
    [opened]="!isCompact()"
    class="!border-r !border-hairline"
  >
    <div class="flex h-full">
      <app-server-rail />
      <app-channel-sidebar [serverId]="serverId()" />
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="flex h-full flex-col">
    @if (isCompact()) {
      <button
        mat-icon-button
        type="button"
        (click)="drawer.toggle()"
        matTooltip="Mở danh sách kênh"
        class="absolute top-2 left-2 z-10"
      >
        <mat-icon>menu</mat-icon>
        <span class="sr-only">Mở danh sách kênh</span>
      </button>
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
